doctype
html
  head
    link(rel="stylesheet" href="#{ base_url }assets/css/app.css")
  body
    != yield

    footer

    script(src="#{ base_url }assets/bower/jquery/dist/jquery.min.js").
    script(src="//www.parsecdn.com/js/parse-1.2.19.min.js").
    script(src="#{ base_url }assets/bower/bootstrap/dist/js/bootstrap.min.js").
    script(src="#{ base_url }assets/js/app.js").
